@font-face {
  font-family: "Abel";
  src: url("Abel-Regular.ttf");
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-family: "Abel";
  width: min-content;
  background-color: rgb(88, 88, 88);
}

.output {
  box-sizing: border-box;
  height: 6em;
  width: 100%;
  font-family: inherit;
  font-size: 2em;
  border: none;
  background-color: #fff;
}

.output:focus {
  outline: none;
}

.number-box {
  display: grid;
  grid-template: repeat(4, 5em) / repeat(5, 5em);
  column-gap: 1px;
  row-gap: 1px;
}

.calc__btn {
  background-color: rgb(73, 73, 73);
  border: none;
  font-family: inherit;
  font-size: 2em;
  color: #fff;
  border: none;
}

.calc__btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.calc__btn--number {
  background-color: rgb(66, 66, 66);
}

.calc__btn--equals {
  grid-column: 5;
  grid-row: 3/5;
}